.button1 {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
  }

  
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button1:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button1:hover .icon {
    transform: translate(4px);
  }
  
  .button1:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  



  .typewriter {
    width: 21.5ch;
    
    text-shadow: orange 0px 0px 46px ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #212121;
    animation: cursor 3s step-start infinite, 
      text 3s steps(18) infinite;
  }
  
  /* @keyframes cursor {
    0%, 100% { 
      border-color: #212121; 
      text-shadow: rgba(246, 252, 248, 0.9) 0px 0px 39px !important;
    }
  } */
  
  @keyframes text {
    0% { 
      width: 0; 
    }
    100% { 
      width: 21.5ch; 
    }
  }


  /* ----------------- shadow start ------------------- */
.shadow{
  -webkit-box-shadow:0px 0px 70px 30px rgba(246, 247, 246, 0.5) !important;
  -moz-box-shadow: 0px 0px 70px 30px rgba(233, 241, 239, 0.5) !important;
  box-shadow: 0px 0px 70px 1px rgba(234, 237, 236, 0.5) !important;
}


/* .shadow1{
  text-shadow: rgba(50, 239, 21, 0.957) 0px 0px 39px !important;
} */

.shadow1{
  text-shadow:orange 0px 0px 18px !important;
  color:orange;
}
.box-shadow1{
  box-shadow: 4px 4px 8px white;
}



.fa-facebook:hover{
  color:blue;
}
.fa-instagram:hover{
  color:red;
}
.fa-github:hover{
  color:grey;
}
.fa-linkedin-in:hover{
  color:lightskyblue;
}

.br{
  border-radius:  49% 48% 52% / 52% 47% 53% 48% ;
}
.new-radius{
  border-radius: 50%;
}
.new-radius2{
  border-radius: 100%;
}
.new-radius1{
  border-radius: 20% !important;
}

.shadow-new{
  -webkit-box-shadow:0px 0px 105px 0px rgba(45,255,196,0.39);
  -moz-box-shadow: 0px 0px 105px 0px rgba(45,255,196,0.39);
  box-shadow: 0px 0px 35px 0px white;
}




.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #fff !important;
}


.fa-github:hover{
  color:white !important;
}

.shadow-other{
  -webkit-box-shadow:0px 0px 105px 45px rgba(255,255,255,0.9);
-moz-box-shadow: 0px 0px 105px 45px rgba(255,255,255,0.9);
box-shadow: 0px 0px 10px 5px rgb(223, 52, 52);
}















canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}








canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 26);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}




a{
  text-decoration: none !important;
}
.l-hover:hover{
  color:orange !important;
}




.slick-next:before {
  color:orange !important;
  font-size: 30px !important;
}
.slick-prev:before{
  color:orange !important;
  font-size: 30px !important;
  z-index: 100 !important;
}






.slider-shadow{
  -webkit-box-shadow:0px 0px 28px 0px rgba(46,84,255,0.9);
-moz-box-shadow: 0px 0px 28px 0px rgba(46,84,255,0.9);
box-shadow: 0px 0px 28px 0px rgba(46,84,255,0.9);
}


.slider-text-shadow{
  text-shadow: rgba(245,239,228,0.9) 0px 0px 39px;
}







  

.text-effect {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  animation-delay: 2s !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.fadeInBottom{
  animation: fadeInBottom 1s  ease-in-out infinite alternate;
  /* animation-delay: 4s; */
  border: 1px solid red;
  border-radius: 50%;
  padding: 20px;

}


@keyframes fadeInBottom {
  from{
      transform: scale(0.8);
  }
  to{
      transform: scale(1.1);
  }
}


.main{
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 100%;
  height: 100%;

}

.router{
  width: 590px;
  aspect-ratio: 0.5/0.5;
  position: relative;
  border-radius: 50%;
  animation: routering 10s linear infinite;
  box-shadow: 1px 1px 100px rgba(67, 218, 205, 0.658);
  background-color: gray;
}

@keyframes routering {
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}

.rout{
  width: 100px;
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: routing 10s  linear infinite;
  background-color: white;
  overflow: hidden;
  z-index: 100;
}

.rout{
  padding: 1px;
  box-shadow: 1px 1px 15px 5px rgba(17, 214, 221, 0.658);

}
.rout > img{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



@keyframes routing{
  from{
      rotate: 360deg;
  }
  to{
      rotate: 0deg;
  }
}
/* 
@keyframes routering{
  0%{
      rotate: 0deg;
      scale: 0.5;
      opacity: 0.3;
  }
  50%{
      rotate: 180deg;
      scale: 1;
      opacity: 1;
  }
  100%{
      rotate: 360deg;
      scale: 0.5;
      opacity: 0;
  }
} */

.rout1{
  top: 84px;
  left: 5px;
}
.rout2{
  top: 63px;
  right: 9px;

}

.rout3{
  bottom: 43px;
  left: 16px;
}

.rout4{
  bottom: 34px;
  right: 58px;
}


.rout5{
  top: 48%;
  right: 92%;

}
.rout6{
  top: 48%;
  left: 92%;
}

.rout7{
  top: -7%;
  right: 46%;
}
.rout8{
  bottom: -8%;
  right: 45%;
}



.slider-image{
  animation: sliderotate 10s linear infinite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}

@keyframes sliderotate {
  from{
    rotate: 360deg;
}
to{
    rotate: 0deg;
}
}




.usres-shadow{-webkit-box-shadow:0px 0px 14px 0px rgba(255,252,46,0.54);
  -moz-box-shadow: 0px 0px 14px 0px rgba(255,252,46,0.54);
  box-shadow: 0px 0px 14px 0px rgba(255,252,46,0.54);
}


.project-shadow{-webkit-box-shadow:0px 0px 15px 0px rgba(255,46,46,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(255,46,46,1);
  box-shadow: 0px 0px 15px 0px rgba(255,46,46,1);
}

.new-project-shadow{
  -webkit-box-shadow:0px 0px 39px 0px rgba(247,146,118,0.9);
  -moz-box-shadow: 0px 0px 39px 0px rgba(247,146,118,0.9);
  box-shadow: 0px 0px 39px 0px rgba(247,146,118,0.9);
}
@media(max-width:992px){
  .icon-hiding{
    display: none;
  }
}
.blur{
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

@media(min-width:767px){
  .d-block{
    display: block !important;
  }
}


.new-radius{
  border-radius:47% 53% 86% 14% / 81% 46% 54% 19% ;
}








* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	
}

.carousel {
	height: 700px;
	perspective: 600px;
	transform: translateY(-100px);
}

.carousel .carousel-item {
	cursor: grab;
	width: 400px;
}

.carousel .carousel-item:active {
	cursor: grabbing;
}

.carousel .carousel-item img {
	width: 100%;
}

.carousel .carousel-item h3 {
	background-color: #ffffff;
	color: #000000;
	font-size: 2em;
	font-weight: bold;
	margin: -5px 0 0;
	padding: 10px 5px;
	text-align: center;
}

.element {
  width: 250px;
  height: 250px;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.22),
0px 15px 12px 0px rgba(0,0,0,0.22);
}